header h1 {
  font-size: 20px;
  font-family: 'Noto Serif', serif;
  font-weight: 100;
}

header {
  background-color: #7b7b7b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #7b7b7b;
}

article {
  background-color: #e1dddd;
  border-radius: 15px;
}

.search-input {
  margin-top: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 80% 10%;
  gap: 5px;
}

.input-btn {
  border-radius: 100%;
  height: 53px; /* Added 'px' unit */
  width: 55px;
  border: 1px solid #9b9797;
}

.four-buttons {
  padding-top: 7px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  border-radius: 5rem;
}

button {
  background-color: #9b9797;
  font-family: 'Roboto', sans-serif;
}

.four-buttons button {
  margin: 10px;
  border-radius: 25px;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #9b9797;
}

.four-buttons button:hover {
  background-color: yellow;
}

.search-input input {
  border-radius: 17px;
  height: 20px;
  padding: 16px;
  background-color: #9b9797;
  font-weight: 300;
  border: 1px solid #9b9797;
  color: black;
}

.articleTwo {
  margin-top: 30px;
  display: grid;
  justify-content: center;
}

#watchlist {
  background-color: #b4b4b4;
  margin-bottom: 13px;
  margin-top: 4px;
  border-radius: 24px;
  margin-left: 15px;
  margin-right: 24px;
  display: flex;
  justify-content: center;
}

#watchlist p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #565454;
  margin: 12px;
}

.search-input input::placeholder {
  color: black;
  text-indent: 0px;
}

.search-input button {
  font-size: 24px;
}

.ParentMain {
  display: grid;
  grid-template-rows: auto auto auto;
}

.mainDynamic {
  display: grid;
  justify-content: center;
  gap: 25px;
}

.dynamic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.mainDynamic .dynamic {
  background-color: #a8a6a6;
  padding: 3px 50px;
  gap: 20px;
}

.dynamic .timeDiv {
  border-radius: 12px;
  background-color: yellow;
  padding: 0px 5px;
}

.dynamic .tradeWay {
  border-radius: 12px;
  background-color: rgb(212, 200, 200);
  padding: 0px 5px;
}

.dynamic button {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  align-content: center;
  background-color: red;
  border: 1px solid red;
  color: white;
}

#dropDown {
  gap: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  grid-column: auto auto auto;
}
